---
services:
  mongodb:
    image: mongo
    ports:
      - 27017:27017
  emqx:
    image: emqx/emqx
    ports:
      - 1883:1883
      - 18083:18083

  mia:
    image: ghcr.io/i1820/mia:latest
    links:
      - emqx
      - mongodb
    ports:
      - 8080:8080
    restart: unless-stopped
    environment:
      MIA_MQTT__HOST: emqx
      MIA_DATABASE__NAME: mongodb
      MIA_DATABASE__CONFIG__HOST: mongodb://mognodb
      MIA_DATABASE__CONFIG__PORT: 27017
      MIA_DATABASE__CONFIG__DATABASE: mia
      MIA_TENANT: parham-home
